.DS_Store
test/gff3/Si_gnF.gff
test/gff3/Si_gnH-AP201408.gff
test/fasta/Si_gnH-AP201408.fasta
data/si_gnf.db
data/solenopsis.db
data/Si_gnH-AP201408.db
data/SI2.db
data/Si_gnH-AP201408-failed.db
data/signf2.db
test/fasta/Si_gnF.fasta


